<form>
  <h2>Configure Active Layout Items</h2>
  <div style="margin-bottom: 1em;">
    <label for="active-layout">Select Layout:</label>
    <select id="active-layout" name="activeLayout">
      {{#each layouts}}
        <option value="{{@key}}" {{#ifEquals ../activeLayout @key}}selected{{/ifEquals}}>
          {{@key}} {{#ifEquals ../activeLayout @key}}(Active){{/ifEquals}}
        </option>
      {{/each}}
    </select>
    <button type="button" class="manage-layouts" onclick="new ManageLayouts().render(true)">Manage Layouts</button>
  </div>
  
  <table style="width: 100%; text-align: left;">
    <thead>
      <tr>
        <th>Type</th>
        <th style="width: 50px;">Order</th>
        <th style="width:20%;">Content</th>
        <th>Extra</th>
        <th>Top (px)</th>
        <th>Left (px)</th>
        <th>Hide</th>
        <th style="width: 50px;">Remove</th>
      </tr>
    </thead>
    <tbody>
      {{#each rows}}
      <tr>
        <input type="hidden" name="type-{{this.idx}}" value="{{this.type}}">
        <td>{{this.type}}</td>
        <td style="width:50px;">
          <button type="button" class="move-up" data-index="{{this.idx}}">↑</button>
          <button type="button" class="move-down" data-index="{{this.idx}}">↓</button>
        </td>
        {{#ifEquals this.type "data"}}
          <td>
            Actor:
            <select name="actorId-{{this.idx}}">
              <option value="">(None)</option>
              {{#each ../allActors}}
                <option value="{{this.id}}" {{#ifEquals this.id ../this.actorId}}selected{{/ifEquals}}>
                  {{this.name}}
                </option>
              {{/each}}
            </select>
            <br>
            Data Field:
            <select name="dataPath-{{this.idx}}">
              {{#each ../dataPathChoices}}
                <option value="{{this.path}}" {{#ifEquals this.path ../this.dataPath}}selected{{/ifEquals}}>
                  {{this.label}}
                </option>
              {{/each}}
            </select>
          </td>
          <td>
            Font Size:
            <input type="number" name="fontSize-{{this.idx}}" value="{{this.fontSize}}" style="width:60px;">
            <br>
            Bold:
            <input type="checkbox" name="bold-{{this.idx}}" {{#if this.bold}}checked{{/if}}>
            <br>
            Font:
            <select name="fontFamily-{{this.idx}}">
              <option value="Arial, sans-serif" {{#ifEquals this.fontFamily "Arial, sans-serif"}}selected{{/ifEquals}}>Arial</option>
              <!-- Additional font options here -->
            </select>
            <br>
            Colour:
            <input type="color" name="fontColor-{{this.idx}}" value="{{this.fontColor}}" style="width:80px;">
          </td>
        {{else ifEquals this.type "static"}}
          <td>
            Static Text:
            <input type="text" name="content-{{this.idx}}" value="{{this.content}}" style="width:100%;">
          </td>
          <td>
            Font Size:
            <input type="number" name="fontSize-{{this.idx}}" value="{{this.fontSize}}" style="width:60px;">
            <br>
            Bold:
            <input type="checkbox" name="bold-{{this.idx}}" {{#if this.bold}}checked{{/if}}>
            <br>
            Font:
            <select name="fontFamily-{{this.idx}}">
              <option value="Arial, sans-serif" {{#ifEquals this.fontFamily "Arial, sans-serif"}}selected{{/ifEquals}}>Arial</option>
              <!-- Additional options -->
            </select>
            <br>
            Colour:
            <input type="color" name="fontColor-{{this.idx}}" value="{{this.fontColor}}" style="width:80px;">
          </td>
        {{else}}
          <td>
            Image Path:
            <input type="text" name="imagePath-{{this.idx}}" value="{{this.imagePath}}" style="width:100%;">
          </td>
          <td>
            Size:
            <input type="number" name="imageSize-{{this.idx}}" value="{{this.imageSize}}" style="width:60px;">
          </td>
        {{/ifEquals}}
        <td>
          <input type="number" name="top-{{this.idx}}" value="{{this.top}}" style="width:60px;">
        </td>
        <td>
          <input type="number" name="left-{{this.idx}}" value="{{this.left}}" style="width:60px;">
        </td>
        <td style="text-align:center;">
          <input type="checkbox" name="hide-{{this.idx}}" {{#if this.hide}}checked{{/if}}>
        </td>
        <td style="text-align:center;">
          <button type="button" class="remove-row" data-index="{{this.idx}}">X</button>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
  
  <div style="margin-top: 1em;">
    <button type="button" class="add-row">Add Data</button>
    <button type="button" class="add-static">Add Static Text</button>
    <button type="button" class="add-image">Add Image</button>
  </div>
  
  <hr />
  <div style="text-align:right; margin-top:1em;">
    <button type="submit" class="dialog-button">Save</button>
  </div>
  
  <!-- Open Overlay Button -->
  <div style="text-align:center; margin-top:1em;">
    <button type="button" id="open-overlay-from-config">Open Overlay</button>
  </div>
</form>
