<form>
  <h3>Actor Positions & Visibility</h3>
  <table style="width:100%; text-align:left;">
    <thead>
      <tr>
        <th>Name</th>
        <th>Top (px)</th>
        <th>Left (px)</th>
        <th>Hide</th>
      </tr>
    </thead>
    <tbody>
      {{#each actorPositions}}
      <tr>
        <td>{{this.name}}</td>
        <td><input type="number" name="top-{{this.id}}" value="{{this.top}}" /></td>
        <td><input type="number" name="left-{{this.id}}" value="{{this.left}}" /></td>
        <td>
          <input type="checkbox" name="hidden-{{this.id}}" {{#if this.hidden}}checked{{/if}} />
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
  <hr/>
  <h3>Display Options</h3>
  <div class="form-group">
    <label for="showNames">Show Player Names</label>
    <input type="checkbox" name="showNames" id="showNames" {{#if showNames}}checked{{/if}} />
  </div>
  <div class="form-group">
    <label for="hideMaxHP">Hide Max HP</label>
    <input type="checkbox" name="hideMaxHP" id="hideMaxHP" {{#if hideMaxHP}}checked{{/if}} />
  </div>
  <h4>Text Styling</h4>
  <div class="form-group">
    <label for="textFontSize">Font Size (px)</label>
    <input type="number" name="textFontSize" id="textFontSize" value="{{textFontSize}}" />
  </div>
  <div class="form-group">
    <label for="textBold">Bold</label>
    <input type="checkbox" name="textBold" id="textBold" {{#if textBold}}checked{{/if}} />
  </div>
  <div class="form-group">
    <label for="textFontColor">Font Colour</label>
    <input type="text" name="textFontColor" id="textFontColor" value="{{textFontColor}}" />
  </div>
  <div class="form-group" style="margin-top:1em; text-align:right;">
    <button type="submit" class="dialog-button">Save</button>
  </div>
</form>
