<form>
  <h2>Slideshow Settings</h2>
  <table style="width: 100%; text-align: left;">
    <thead>
      <tr>
        <th>Order</th>
        <th>Layout</th>
        <th>Duration (seconds)</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {{#each slideshowItems}}
      <tr>
        <td>
          <button type="button" class="move-up" data-index="{{@index}}">↑</button>
          <button type="button" class="move-down" data-index="{{@index}}">↓</button>
        </td>
        <td>
      
          <input type="hidden" name="layout-{{@index}}" value="{{this.layout}}">
          {{this.layout}}
        </td>
        <td>
          <input type="number" name="duration-{{@index}}" value="{{this.duration}}" style="width:60px;">
        </td>
        <td>
          <button type="button" class="remove-item" data-index="{{@index}}">X</button>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>


  <div style="margin: 1em 0;">
    <label>
      <input type="checkbox" name="random" {{#if random}}checked{{/if}}>
      Random Order
    </label>
  </div>
  <div style="margin: 1em 0;">
    <label>Transition Effect:</label>
    <select name="transition">
      <option value="none" {{#ifEquals transition "none"}}selected{{/ifEquals}}>None</option>
      <option value="fade" {{#ifEquals transition "fade"}}selected{{/ifEquals}}>Fade</option>
      <option value="slide" {{#ifEquals transition "slide"}}selected{{/ifEquals}}>Slide</option>
      <option value="flip" {{#ifEquals transition "flip"}}selected{{/ifEquals}}>Flip</option>
    </select>
    
    <label style="margin-left: 1em;">Duration:</label>
    <input type="number" step="0.1" name="transitionDuration" value="{{transitionDuration}}" style="width:60px;"> seconds
  </div>
  <div style="margin-top: 1em;">
    <label for="new-layout-dropdown">Select Layout:</label>
    <select id="new-layout-dropdown" style="width: 100%; margin-bottom: 0.5em;">
      {{#each availableLayouts}}
        <option value="{{this}}">{{this}}</option>
      {{/each}}
    </select>
    <button type="button" class="add-selected-item" style="width: 100%;">Add Selected Layout to Slideshow</button>
  </div>
  
  <div style="margin: 1em 0;">
    <label>Target Window:</label>
    <select name="targetWindow">
      {{#each windows}}
        <option value="{{this.id}}" {{#ifEquals ../targetWindow this.id}}selected{{/ifEquals}}>
          {{this.name}}
        </option>
      {{/each}}
    </select>
    <p class="hint" style="font-style: italic; color: #666; margin-top: 0.2em;">Select which overlay window will display this slideshow</p>
  </div>

  <div style="margin-top: 1em; display: flex; align-items: center; justify-content: center;">
    <button type="button" class="start-slideshow" style="margin-right: 1em;">
      <i class="fas fa-play"></i> Start
    </button>
    <button type="button" class="stop-slideshow">
      <i class="fas fa-pause"></i> Stop
    </button>
  </div>

  <hr />

  <div style="text-align:right; margin-top:1em;">
    <button type="submit" class="dialog-button">Save Slideshow</button>
  </div>
</form>