<div id="foundry-stream-overlay" class="stream-overlay-container"
     style="background-color: {{backgroundColour}}; font-size: {{fontSize}}; font-family: {{fontFamily}}; color: {{fontColor}};">
  {{#each hpData}}
    <div class="hp-line"
         style="
           top: {{top}}px;
           left: {{left}}px;
           position: absolute;
           width: {{../heartSize}}px;
           height: {{../heartSize}}px;
         ">
      {{#if ../showHeart}}
        <img src="{{../heartImage}}"
             alt="Heart Icon"
             style="
               position: absolute;
               top: 0;
               left: 0;
               width: 100%;
               height: 100%;
               z-index: 1;
             " />
      {{/if}}

      <!-- Text Container -->
      <div class="hp-text"
           style="
             position: absolute;
             top: {{../heartTextOffset}}px;
             left: 0;
             width: 100%;
             z-index: 2;
             display: flex;
             flex-flow: row nowrap;
             justify-content: space-between;
             align-items: center;
             padding: 0 4px; /* optional horizontal spacing */
           ">

        {{#if ../boldAll}}
          <strong>
            <span class="hp-name">
              {{#if ../showNames}}
                {{name}}
              {{/if}}
            </span>
            <span class="hp-values">
              {{current}}{{#if ../showMaxHP}} / {{max}}{{/if}}
            </span>
          </strong>
        {{else}}
          <span class="hp-name">
            {{#if ../showNames}}
              {{name}}
            {{/if}}
          </span>
          <span class="hp-values">
            {{current}}{{#if ../showMaxHP}} / {{max}}{{/if}}
          </span>
        {{/if}}
      </div>
    </div>
  {{/each}}
</div>
