<div id="foundry-stream-overlay" class="stream-overlay-container" style="background-color: {{backgroundColour}};">
  {{#each hpData}}
    {{#unless this.hidden}}
      <div class="hp-line" style="top: {{top}}px; left: {{left}}px;">
        {{#if ../showNames}}
          <span class="player-name" style="font-size: {{nameFontSize}}; color: {{nameFontColor}}; font-weight: {{#if nameBold}}bold{{else}}normal{{/if}};">
            {{name}}
          </span>
        {{/if}}
        <span class="hp-number" style="font-size: {{numberFontSize}}; color: {{numberFontColor}}; font-weight: {{#if numberBold}}bold{{else}}normal{{/if}};">
          {{current}}{{#unless ../hideMaxHP}} / {{max}}{{/unless}}
        </span>
      </div>
    {{/unless}}
  {{/each}}
</div>
